body{ background-color: #fff!important;}
.feature__page p.hidden::before,
.feature__page section .card__img::before,
.feature__page section .embed:before,
.feature__page section .slideshow .slider__wrap::after,
.feature__page section .slideshow .slider__wrap::before,
.feature__page section .slideshow--column1 .slider .slider__item::before,
.feature__page section .slideshow--column2 .slider .slider__item::before {
  content: "";
  display: block;
}
.feature__page header .flex .sns__group,
.feature__page section .sponsor__group,
.sns__group {
  list-style: none;
  padding: 0;
  margin: 0;
}
.feature__page header .flex .sns__group li .go_fb,
.feature__page header .flex .sns__group li .go_ig {
  position: relative;
  overflow: hidden;
  width: 40px;
}
.feature__page header .flex .sns__group li .go_fb::before {
  content: "追蹤粉專";
}
.feature__page header .flex .sns__group li .go_ig::before {
  content: "追蹤IG";
}
.feature__page header .flex .sns__group li .go_fb::before,
.feature__page header .flex .sns__group li .go_ig::before {
  position: absolute;
  bottom: -40px;
  left: 0;
  font-size: 12px;
  color: #fff;
  text-align: center;
  background-color: #191c2b;
  line-height: 0.9rem;
  transition: 0.4s;
}
.feature__page header .flex .sns__group .go_fb:hover::before,
.feature__page header .flex .sns__group .go_ig:hover::before {
  bottom: 0;
}
.feature__page nav.menubar--sub2 ul.menubar__user::before {
  width: 1px;
  height: 1rem;
}
@media (max-width: 1023px) {
  .feature__page nav.menubar--sub2 ul.menubar__user::before {
    background-color: transparent;
  }
}
.feature__page header {
  position: relative;
  background-color: #fff;
  z-index: 10;
}
.feature__page header .flex {
  align-items: center;
}
.feature__page header .flex a.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.feature__page header .flex a.logo img {
  height: 40px;
}
.feature__page header .flex .sns__group {
  display: flex;
  font-size: 2em;
}
@media (max-width: 416px) {
  .feature__page header .flex .sns__group {
    padding-right: 11px;
  }
}
.feature__page header .flex .sns__group li + li {
  margin-left: 1rem;
}
@media (max-width: 1023px) {
  .feature__page header .flex .sns__group li + li {
    margin-left: 0.7rem;
  }
}
.feature__page header .flex .sns__group li > a.sns {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}
.feature__page header .flex .sns__group li > a.sns {
  width: 1em;
  height: 1em;
  -moz-background-size: 1em;
  -o-background-size: 1em;
  -webkit-background-size: 1em;
  background-size: 1em;
}
.feature__page header .flex .sns__group li > a.sns-facebook,
.sns__group li > a.sns-facebook {
  background-image: url(../../images/feature/facebook_nav.svg);
}
@media (max-width: 1023px) {
  .feature__page header .flex .sns__group li > a.sns-facebook {
    background-image: url(../../images/feature/facebook_nav.svg);
  }
}
.feature__page header .flex .sns__group li > a.sns-facebook:hover,
.sns__group li > a.sns-facebook:hover {
  background-image: url(../../images/feature/facebook_nav.svg);
}
.feature__page header .flex .sns__group li > a.sns-line {
  background-image: url(../../images/feature/line-messenger_nav.svg);
}
@media (max-width: 1023px) {
  .feature__page header .flex .sns__group li > a.sns-line {
    background-image: url(../../images/feature/line-messenger_nav.svg);
  }
}
.feature__page header .flex .sns__group li > a.sns-line:hover {
  background-image: url(../../images/feature/line-messenger_nav.svg);
}
.feature__page header .flex .sns__group li > a.sns-ig {
  background-image: url(../../images/feature/instagram.png);
}
@media (max-width: 1023px) {
  .feature__page header .flex .sns__group li > a.sns-ig {
    background-image: url(../../images/feature/instagram.png);
  }
}
@media (max-width: 416px) {
  .feature__page header .flex .sns__group li > a.sns-facebook {
    background-size: 25px;
  }
  .feature__page header .flex .sns__group li > a.sns-ig {
    background-size: 24px;
  }
}
.rightBox {
  position: fixed;
  bottom: 75px;
  right: 20px;
  z-index: 999;
  transition: 0.4s;
}
.rightBox .sns__group {
  display: block;
  opacity: 0;
}
.rightBox .sns__group li {
  width: 40px;
  height: 40px;
  background-color: #f5f5f5;
  border-radius: 30px;
  -webkit-box-shadow: 0 0 5px #3333334d;
  box-shadow: 0 0 5px #3333334d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}
.rightBox .sns__group li > a.sns {
  width: 22px;
  height: 22px;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  margin: 9px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
}
.rightBox .sns__group li > a.sns-facebook {
  background-image: url(../../images/feature/facebook.svg);
}
.rightBox .sns__group li > a.sns-line {
  background-image: url(../../images/feature/line-messenger.svg);
}
@media (max-width: 415px) {
  .rightBox {
    bottom: 60px;
    right: 10px;
  }
  .rightBox .sns__group li {
    width: 40px;
    height: 40px;
  }
  .rightBox .sns__group li > a.sns {
    width: 23px;
    height: 23px;
    margin-top: 11px;
  }
}
.feature__page header > .container-fluid {
  border-bottom: 3px solid #414cdb;
  background-color: #191c2b;
}
.feature__page header .container {
  max-width: 1260px;
  position: relative;
  height: 60px;
}
.feature__page section:first-child {
  border-top: 0;
}
.feature__page section .container {
  max-width: 950px;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 767px) {
  .feature__page section .container {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .feature__page section .container > .row {
    margin-left: -20px;
    margin-right: -20px;
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 640px) {
  .feature__page section .container {
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
  }
  .feature__page section .container h2{
    font-size: 24px;
  }
}
.feature__page section p.text--summary {
  color: #003a9f;
}
.feature__page section p.text--update {
  font-size: 0.875rem;
  line-height: 1.5;
}
@media (max-width: 767px) {
  .feature__page section .img__group {
    margin-left: 0px;
    margin-right: 0px;
  }
}
.feature__page section .img__group img {
  width: 100%;
  height: auto;
}
.feature__page section .img__group .card__img img {
  border-radius: 4px;
}
.feature__page section .img__group span {
  display: block;
  padding-top: 0.6em;
  padding-bottom: 1.4em;
  color: #939ea7;
  font-size: 0.875rem;
}
@media (max-width: 767px) {
  .feature__page section .img__group span {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.feature__page section .card__group {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767px) {
  .feature__page section .card__group {
    margin-left: -20px;
    margin-right: -20px;
    width: 100%;
    margin: auto;
  }
}
.feature__page section .card__item {
  width: 100%;
  margin-bottom: 30px;
}
.feature__page section .card__item:nth-last-child(1) {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .feature__page section .card__item {
    width: calc((100% - 50px) / 3);
    margin-left: 25px;
    margin-bottom: 50px;
  }
  .feature__page section .card__item:nth-child(3n + 1) {
    margin-left: 0;
  }
  .feature__page section .card__item:nth-last-child(2),
  .feature__page section .card__item:nth-last-child(3) {
    margin-bottom: 0;
  }
}
.feature__page section .card__item:hover .card__title,
.owl-carousel.owl-drag .owl-item:hover .card__title {
  color: #003a9f;
}
.feature__page section .card__title {
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
  color: #171717;
  font-size: 18px;
  background-color: #f5f5f5;
  padding: 10px;
  height: 72px;
  border-radius: 4px;
  line-height: 1.8rem;
  white-space: normal;
  display:-webkit-box;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 500;
}
@media (max-width: 941px) and (min-width: 768px) {
  .feature__page section .card__title {
    font-size: 1.01em;
    height: 70px;
  }
}
@media (max-width: 640px) {
  .feature__page section .card__title {
    font-size: 22px;
    background-color: rgb(255 255 255 / 0%);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0px;
    line-height: 1.9rem;
    font-weight: 700;
    margin-bottom: 30px;
  }
}
@media (max-width: 415px) {
  .feature__page section .card__title {
    margin-bottom: 40px;
  }
}
@media (max-width: 376px) {
  .feature__page section .card__title {
    margin-bottom: 30px;
  }
}
.feature__page section .card__img {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
}
@media (max-width: 640px) {
  .feature__page section .card__img {
    border-radius: 4px;
  }
}
.feature__page section .card__img::before {
  width: 100%;
  padding-top: 66.666667%;
}
.feature__page section .card__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature__page section .sponsor__group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.feature__page section .sponsor__group li {
  width: 150px;
  margin: 15px 30px;
}
@media (min-width: 768px) {
  .feature__page section .sponsor__group li {
    width: 150px;
    margin: 15px 35px;
  }
}
@media (max-width: 767px) {
  .feature__page section .sponsor__group li {
    width: calc(50% - 60px);
  }
}
@media (max-width: 376px) {
  .feature__page section .sponsor__group li {
    width: calc(50% - 30px);
    margin: 15px 14px;
  }
}
@media (max-width: 374px) {
  .feature__page section .sponsor__group li {
    width: 50%;
    margin: 10px 0px;
  }
}
.feature__page section .sponsor__group li img {
  width: 100%;
  height: auto;
}
.feature__page section .embed {
  position: relative;
  width: 100%;
}
.feature__page section .embed:before {
  width: 100%;
}
.feature__page section .embed.embed--16by9:before {
  padding-top: 56.25%;
}
.feature__page section .embed.embed--4by3:before {
  padding-top: 75%;
}
.feature__page section .embed > .embed__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
}
.feature__page section .slideshow .container {
  width: 100%;
  max-width: 1260px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .feature__page section .slideshow .container {
    width: 85%;
    padding-bottom: 30px;
  }
}
.feature__page section .slideshow {
  position: relative;
}
.feature__page section .slideshow--column .slider__navi {
  position: absolute;
  top: 50%;
  height: 100%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
}
.feature__page section .slideshow--column .slider__navi--prev {
  left: 5px;
}
@media (min-width: 768px) {
  .feature__page section .slideshow--column .slider__navi--prev {
    left: 50px;
  }
}
.feature__page section .slideshow--column .slider__navi--next {
  right: 5px;
}
@media (min-width: 768px) {
  .feature__page section .slideshow--column .slider__navi--next {
    right: 50px;
  }
}
.feature__page section .slideshow--column .slider__navi .icon-btn {
  width: 30px;
  height: 100%;
  color: #fff;
  font-size: 2rem;
  text-shadow: 1px 1px 0 rgba(23, 23, 23, 0.5);
}
@media (min-width: 768px) {
  .feature__page section .slideshow--column .slider__navi .icon-btn {
    width: 70px;
  }
}
.feature__page section .slideshow--column .slider .slider__title {
  position: absolute;
  left: 10%;
  text-shadow: 1px 1px 0 rgba(23, 23, 23, 0.5);
  z-index: 1;
}
@media (max-width: 768px) {
  .feature__page section .slideshow--column .slider .slider__title  {
    left: 0%;
  }
}
.feature__page section .slideshow--column .slider .slider__title .h1 {
  color: #fff;
  font-weight: 500;
}
.feature__page section .slideshow--column .slider .slider__title .h2 {
  color: #fff;
  font-weight: 400;
}
.feature__page section .slideshow--column2 .slider .slider__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;
}
@media (min-width: 1024px) {
  .feature__page section .slideshow--column2 .slider .slider__item {
    align-items: center;
  }
}
.feature__page section .slideshow--column2 .slider .slider__item img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feature__page section .slideshow--column2 .slider .slider__item span {
  display: block;
}
.feature__page section .slideshow--column2 .slider .slider__item::before {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  -moz-transition: opacity 0s;
  -o-transition: opacity 0s;
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3MTcxNyIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzE3MTciLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=);
  background-size: 100%;
  background-image: -webkit-gradient(
    linear,
    0 50%,
    100% 50%,
    color-stop(0, rgba(23, 23, 23, 0.5)),
    color-stop(100%, #171717)
  );
  background-image: -moz-linear-gradient(
    left,
    rgba(23, 23, 23, 0.5) 0,
    #171717 100%
  );
  background-image: -webkit-linear-gradient(
    left,
    rgba(23, 23, 23, 0.5) 0,
    #171717 100%
  );
  background-image: linear-gradient(
    to right,
    rgba(23, 23, 23, 0.5) 0,
    #171717 100%
  );
  z-index: 1;
}
.feature__page
  section
  .slideshow--column2
  .slider
  .slider__item
  .slider__title
  > * {
  width: 60%;
}
@media (max-width: 769px) {
  .feature__page
    section
    .slideshow--column2
    .slider
    .slider__item
    .slider__title
    > * {
      width: 87%;
      margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .feature__page section .slideshow--column2 .slider .slider__item .slider__title > * {
      width: 80%;
  }
}
.feature__page section .slideshow--column1 .slider .slider__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: calc(100vh - 70px);
}
.feature__page section .slideshow--column1 .slider .slider__item::before {
  position: absolute;
  width: 100%;
  height: 200px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3MTcxNyIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNzE3MTciLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=);
  background-size: 100%;
  background-image: -webkit-gradient(
    linear,
    50% 0,
    50% 100%,
    color-stop(0, rgba(23, 23, 23, 0)),
    color-stop(100%, #171717)
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(23, 23, 23, 0) 0,
    #171717 100%
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(23, 23, 23, 0) 0,
    #171717 100%
  );
  background-image: linear-gradient(
    to bottom,
    rgba(23, 23, 23, 0) 0,
    #171717 100%
  );
  z-index: 1;
}
.feature__page section .slideshow--column1 .slider .slider__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) {
  .feature__page section .slideshow--column1 .slider .slider__title {
    text-align: center;
  }
}
.feature__page section .slideshow .slider {
  position: relative;
  overflow: hidden;
}
.feature__page section .slideshow .slider__navi {
  position: absolute;
  top: 50%!important;
  -moz-transform: translateY(-50%)!important;
  -ms-transform: translateY(-50%)!important;
  -webkit-transform: translateY(-50%)!important;
  transform: translateY(-50%)!important;
  z-index: 5;
}
.feature__page section .slideshow .slider__navi.slider__navi--prev {
  left: 0px;
}
.feature__page section .slideshow .slider__navi.slider__navi--next {
  right: 0px;
}
@media (max-width: 415px) {
  .feature__page section .slideshow .slider__navi {
  -moz-transform: translateY(-50%)!important;
  -ms-transform: translateY(-50%)!important;
  -webkit-transform: translateY(-50%)!important;
  transform: translateY(-50%)!important;
}
.feature__page section .slideshow .slider__navi.slider__navi--next {
  right: -2px;
}
}
.feature__page section .slideshow .slider__wrap {
  position: relative;
}
.feature__page section .slideshow .slider__wrap::after,
.feature__page section .slideshow .slider__wrap::before {
  clear: both;
}
.feature__page section .slideshow .slider__thumbnail {
  overflow: hidden;
}
.feature__page section .slideshow .slider__wrap__thumbnail {
  position: relative;
  font-size: 0;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}
@media (max-width: 1023px) {
  .feature__page section .slideshow .slider__wrap__thumbnail {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.feature__page section .slideshow .slider__wrap__thumbnail li {
  display: inline-block;
  width: 120px;
  margin-left: 10px;
}
@media (min-width: 1024px) {
  .feature__page section .slideshow .slider__wrap__thumbnail li {
    width: 150px;
    margin-left: 15px;
  }
}
.feature__page section .slideshow .slider__wrap__thumbnail li:first-child {
  margin-left: 0;
}
.feature__page section .slideshow .slider__wrap__thumbnail li .thumbnail__img {
  background-color: #171717;
}
.feature__page
  section
  .slideshow
  .slider__wrap__thumbnail
  li
  .thumbnail__img
  img {
  opacity: 0.5;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.feature__page
  section
  .slideshow
  .slider__wrap__thumbnail
  li.active
  .thumbnail__img
  img {
  opacity: 1;
}
.feature__page section .slideshow .slider .slider__item {
  float: left;
}
@media (min-width: 1024px) {
  .feature__page section .slideshow .slider .slider__item {
    width: 940px;
  }
}
.feature__page section .slideshow .slider .slider__item img {
  width: 100%;
}
.feature__page section .slideshow .slider .slider__item > span {
  display: block;
  padding-top: 0.4em;
  padding-bottom: 30px;
  color: #939ea7;
  font-size: 0.875rem;
}
@media (min-width: 1024px) {
  .feature__page section .slideshow .slider .slider__item > span {
    padding-bottom: 1.4em;
  }
}
@media (max-width: 767px) {
  .feature__page section .slideshow .slider .slider__item > span {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.feature__page p {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  -moz-transition: height 0.3s;
  -o-transition: height 0.3s;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
@media (max-width: 640px) {
  .feature__page p {
    padding: 0 10px;
  }
}
.feature__page p.hidden {
  height: 9em;
  overflow: hidden;
}
.feature__page p.hidden::before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3.6em;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=);
  background-size: 100%;
  background-image: -webkit-gradient(
    linear,
    50% 0,
    50% 100%,
    color-stop(0, rgba(255, 255, 255, 0)),
    color-stop(100%, #fff)
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    #fff 100%
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    #fff 100%
  );
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    #fff 100%
  );
}
.feature__page p.hidden + .btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.feature__page section .cardshow {
  position: relative;
}
.feature__page section .cardshow .carder {
  overflow: hidden;
}
@media (max-width: 1023px) {
  .feature__page section .cardshow .carder {
    margin-left: 30px;
    margin-right: 30px;
  }
}
.feature__page section .cardshow .slider__navi {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 5;
}
.feature__page section .cardshow .slider__navi.slider__navi--prev {
  left: -15px;
}
@media (min-width: 1024px) {
  .feature__page section .cardshow .slider__navi.slider__navi--prev {
    left: auto;
    right: calc(100% + 20px);
  }
}
.feature__page section .cardshow .slider__navi.slider__navi--next {
  right: -15px;
}
@media (min-width: 1024px) {
  .feature__page section .cardshow .slider__navi.slider__navi--next {
    right: auto;
    left: calc(100% + 20px);
  }
}
.feature__page section .cardshow .slider__navi a.icon-btn {
  width: 40px;
  height: 60px;
  color: #9797b1;
}
@media (min-width: 1024px) {
  .feature__page section .cardshow .slider__navi a.icon-btn {
    width: 60px;
    height: 80px;
  }
}
.feature__page section .cardshow .slider__navi:hover a {
  color: #313160;
}
.feature__page section .cardshow .slider__navi i {
  font-size: 2.25rem;
}
.feature__page section .cardshow .slider__dot {
  padding-top: 40px;
  font-size: 0;
}
.feature__page section .cardshow .slider__dot li {
  display: inline-block;
  width: 18px;
  height: 6px;
  background-color: #9797b1;
  cursor: pointer;
}
.feature__page section .cardshow .slider__dot li + li {
  margin-left: 16px;
}
.feature__page section .cardshow .slider__dot li.active {
  background-color: #313160;
}
.feature__page footer p {
  color: #333;
  text-align: center;
}
.card__img .ad_words {
  position: absolute;
  z-index: 888;
  width: auto;
  top: 6px;
  color: #fff;
  left: 10px;
  font-size: 12px;
  margin: auto;
  text-shadow: 0 0 5px #333;
}
.container_video {
  width: 100%;
  max-width: 950px;
  margin: auto;
}
body.feature__page .footer p {  margin: 0 auto;}
.bgf5{ background-color: #f5f5f5;}